.login {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 0 auto;
  border: 1px solid rgb(195, 195, 195);
  padding: 20px 15px;
  width: 320px;
}

.login input {
  width: 100%;
}

.login button {
  margin-top: 20px;
}
