.login {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 0 auto;
  border: 1px solid rgb(195, 195, 195);
  padding: 20px 15px;
  width: 320px;
  background-color: white;
}

h2 {
  margin-bottom: 4px;
}

.login input {
  width: 100%;
  margin-bottom: 8px;
}

.login label {
  margin-bottom: 4px;
}

.login button {
  margin: 12px 0;
}
