@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

/* 
#012257 dark blue
#F1F1F1 light beige
#ECE5DB beige
#52576B dark grey

*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #f6f6f6;
}

/* /////////////////////// */

/* header */

#header-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

h1 {
  display: flex;
  font-family: "Libre Baskerville", serif;
}

h1 a,
h1 a:visited,
h1 a:hover,
h1 a:active {
  color: #012257;
  text-decoration: none;
  margin-left: 4px;
}

/* universal */

a,
a:visited {
  color: black;
}

a:hover {
  color: purple;
}

a:active {
  color: #b68f6a;
}

button {
  cursor: pointer;
  background-color: #012257;
  color: #ece5db;
  border: none;
  font-size: 1rem;
  padding: 4px 8px;
  margin: 4px 4px 0 0;
}

button:hover {
  background-color: #52576b;
}

button:active {
  background-color: #b68f6a;
}

.button-cancel {
  background-color: rgb(218, 142, 142);
  border: 1px #8285b5 solid;
  font-size: 1rem;
}

.button-cancel:hover {
  background-color: rgb(177, 111, 111);
}

.button-cancel:active {
  background-color: #a57b54;
}

.buttons {
  margin: 4px 0;
}

input {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 2px;
}

/* root */
.root-home {
  border: 1px grey solid;
  background-color: #efefed;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: 200px 1fr;
  padding: 10px;
}

.main {
  margin: 24px;
}

.root {
  min-height: 90vh;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 24px 48px;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* sidebar */

.sidebar {
  margin-left: 10px;
  line-height: 1.5;
}

.sidebar h2 {
  font-size: 1.2rem;
}

.sidebar hr {
  border-top: 2px solid #ece5db;
  border-bottom: 2px solid #012257;
  margin-bottom: 4px;
}
.sidebar ul {
  line-height: 1.8rem;
  list-style-type: none;
}

.sidebar ul li:before {
  content: url("/label_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg");
  display: inline-block;
  vertical-align: sub;
  margin-right: 0.5em;
}

.sidebar ul li.home:before {
  content: url("/home_16dp_000_FILL0_wght400_GRAD0_opsz20.svg");
  display: inline-block;
  vertical-align: sub;
  margin-right: 0.5em;
}

.sidebar ul li.add-note:before {
  content: url("/add_box_16dp_000_FILL0_wght400_GRAD0_opsz20.svg");
  display: inline-block;
  vertical-align: sub;
  margin-right: 0.5em;
}

.sidebar ul li.add:before {
  content: url("/new_label_16dp_000000_FILL0_wght400_GRAD0_opsz20.svg");
}

.sidebar li.archived:before {
  content: url("/archive_16dp_000_FILL0_wght400_GRAD0_opsz20.svg");
}

.sidebar li.deleted:before {
  content: url("/delete_16dp_000_FILL0_wght400_GRAD0_opsz20.svg");
}

.sidebar ul li.all:before {
  content: url("/file_open_16dp_000_FILL0_wght400_GRAD0_opsz20.svg");
}

.sidebar ul li.logout:before {
  content: url("/logout_16dp_000_FILL0_wght400_GRAD0_opsz20.svg");
}

.sidebar ul li.settings:before {
  content: url("/settings_16dp_000_FILL0_wght400_GRAD0_opsz20.svg");
}

/* notes */
.note,
.single-note {
  line-height: 1.5rem;
  border: 1px grey solid;
  padding: 4px;
  margin: 4px 0;
  background-color: #fff;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-add form,
.category-add form,
.single-note-edit form {
  line-height: 1.5rem;
  border: 1px grey solid;
  padding: 4px;
  margin: 4px 0;
}

.note-add form input,
.category-add form input,
.single-note-edit form input {
  padding: 4px 2px;
}

.note-add form textarea,
.single-note-edit form textarea {
  padding: 4px 2px;
  height: 10rem;
}

.note-add form select,
.single-note-edit form select {
  padding: 4px 2px;
}

.note-add button,
.category-add button,
.single-note-edit button {
  margin: 8px 8px 4px 0;
}

.notes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.notes .note,
.notes .note-link {
  height: 300px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input.title {
  width: 100%;
}

form .category,
form .title {
  display: flex;
  flex-direction: column;
}

.notes .category {
  background-color: #52576b;
  color: white;
  border-radius: 8px;
  padding: 0 4px;
  font-size: 0.9rem;
}

.root-home .category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note {
  position: relative;
}

input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
}

a.note-link {
  text-decoration: none;
  color: black;
}

div.note.deselect:hover {
  box-shadow: #545e98 2px 2px 2px;
}

.add-button {
  position: absolute;
  background-color: #012257;
  right: 70px;
  color: white;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  z-index: 10;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 8px;
}

input[type="checkbox"] {
  z-index: 5;
}

input[type="checkbox"]:hover {
  box-shadow: purple 2px 2px 2px;
}

.disabled-note-link {
  pointer-events: false;
}
